
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
		
	
		<h2> Sorry wrong Password!  </h2>
		<a href = "http://localhost:5000/signin_help"> Go Back to sign in <br> </a>
		<a href = "http://localhost:5000"> Go to Home! </a>	
		</ul>
		</nav>
	</div>
	</div>

	</body>
</head>
</html>


