
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
		
	
		<h2> The main Page </h2>
			<a href = "http://localhost:5000"> Logout </a>

      <form action = "http://localhost:5000/results" method = "POST">
         <p>Movie Title <input type = "text" name = "Title" /></p>
         <p> <input type = "submit" value = "submit" /> </p>
      </form >

	</body>
</head>
</html>


